body {
  background-color: #1B222A;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

/**img:hover
{
  background-color: gold;
}**/
/* .flex-container {
  display: flex;
  justify-content: center;
  flex-shrink: 10;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
} */
h1 {
  color: #6FDFDF;
  font-size: 300%;
}

h3 {
  color: #364E68;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #11468F;
  border-width: 8px;
  width: 5%;
}

.link1{
  color: #6FDFDF;
  font-size: 130%;
  position: absolute;
  bottom: 750%;
  left: 140%;
}

.link2{
  color: #6FDFDF;
  font-size: 130%;
    white-space: nowrap;
    position: absolute;
    bottom: 750%;
    left: 160%;
}

.imager {
  position: absolute;
  top: 25%;
  left: 43%;
  width:100%;
  height:auto;
}

.texter {
  position: absolute;
  top: 70%;
  left: 32%;
}

.name {
  font-family: 'Sacramento', cursive;
  position: absolute;
  left: 13%;
  bottom: 120%;
}

.top {
  background-image: url('statistics.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 48.49%;
}


.l1 {
  font-family: 'Merriweather', serif;
  color: #406882;
  position: absolute;
  bottom: 60%;
  left: 30%;
}
.l2
{
  color: #406882;
  font-family: 'Merriweather', serif;
  position: relative;
  left: 0  ;
}

.l3{
  color: #6FDFDF;
}
/* .l3:hover{
  color: #6FDFDF;
}  */


.mid1{
  color: #364E68;
  text-align: center;
}

.mid2{
  color: #364E68;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.bottom{
  color: #364E68;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title{
  color: #364E68;
}
.title2{
  color: #6FDFDF;
}
.title3{
  color: #6FDFDF;
}

.b1{
  color: #18978F;
  margin: 10px;
}
.b2{
  color: #18978F;
}
